# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Backpack build
build

server/testFolder/code/assessment

server/testFolder/code/idep

server/testFolder/code/testData

server/testFolder/code/thw
server/testFolder/code/First_Try

.vscode
.Rproj.user


.vscode
.nuxt